.wowbq-bluequote {
	font-size: 12px;
	font-family: Verdana,sans-serif;
	background-color: #202020;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 2px 2px 2px black;
    color: #0091FF;
    margin: 10px auto;
    padding: 0 10px 10px;
    width: 95%;
}
.wowbq-bluequote a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.wowbq-bluequote a:hover {
	text-decoration: underline;
}
.wowbq-postedby {
    background: url("img/blizz_ico.gif") no-repeat scroll 0 50% transparent;
    padding: 10px 30px 5px;
	border-bottom: 1px solid #2D2D2D;
}
.wowbq-clear {
	clear: both;
}